name: Make and commit README.md
on:
  # Triggers the workflow on push or pull request events
  push:
    paths:
      - "notebook_examples/*.ipynb"
      - "notebook_examples/make_readme.py"
  pull_request:
    paths: |
      - "notebook_examples/*.ipynb"
      - "notebook_examples/make_readme.py"
  # Allows mannual triggering
  workflow_dispatch:
jobs:
  make-and-commit-readme-file:
    runs-on: ubuntu-latest
    name: make and commit readme.md
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Make README.md
        uses: ./actions/make_readme
      - name: Commit README.md
        uses: ./actions/commit_action
        with:
          # Optional. Commit message for the created commit. Defaults to "Auto commit changes"
          commit_message: Auto commit README.md
          # Optional. File pattern used for `git add`. Defaults to '.'
          file_pattern: :/notebook_examples/README.md
